<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
		id="cordova-jb-plugin-panframe"
		version="0.1.0">

	<name>Panframe</name>

	<description>Cordova PanFrame(http://www.panframe.com/) Plugin</description>

	<js-module src="www/cdv-jb-panframe-plugin.js" name="PanframePlugin">
		<clobbers target="panframePlugin" />
	</js-module>

	<!-- android -->
	<platform name="android">
		<!-- Play Services... -->
		<dependency id="cordova-plugin-android-support-v4" />

		<config-file target="AndroidManifest.xml" parent="/manifest/application">

			<!-- Activity Entries -->
			<activity android:name="com.jb.plugin.panframe.SimpleStreamPlayerActivity" android:screenOrientation="landscape" android:launchMode="singleInstance" />

			<!-- Permissions -->
			<uses-permission android:name="android.permission.INTERNET" />
			<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
			<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
		</config-file>

		<!--  -->
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="PanframePlugin">
				<param name="android-package" value="com.jb.plugin.panframe.PanframePlugin" />
			</feature>
		</config-file>

		<!-- PAN Frame Library -->
		<lib-file src="src/android/libs/panframe-1.9.jar" />

		<!-- Plugin File -->
		<source-file src="src/android/PanframePlugin.java" target-dir="src/com/jb/plugin/panframe" />
		<!-- PANFrame Video View Activity -->
		<source-file src="src/android/SimpleStreamPlayerActivity.java" target-dir="src/com/jb/plugin/panframe" />

		<!-- Layouts -->
		<source-file src="src/android/simple_stream_player.xml" target-dir="res/layout"/>
	</platform>

	<!-- ios -->
	<platform name="ios">
		<config-file target="config.xml" parent="/*">
			<feature name="PanframePlugin">
				<param name="ios-package" value="CDVPanframePlugin" />
			</feature>
		</config-file>
		<resource-file src="src/ios/frameworks/Settings.bundle" />
		<header-file src="src/ios/CDVPanframePlugin.h" />
		<source-file src="src/ios/CDVPanframePlugin.m" />
		<header-file src="src/ios/SimplePlayerViewController.h" />
		<source-file src="src/ios/SimplePlayerViewController.m" />
		<!-- res files -->
		<resource-file src="src/ios/PlayerStoryboard.storyboard" />

		<!-- Dependencies -->
		<framework src="UIKit.framework" />
		<framework src="AVFoundation.framework" />
		<framework src="CoreMedia.framework" />
		<framework src="CoreGraphics.framework" />
		<framework src="CoreLocation.framework" />
		<framework src="CoreMotion.framework" />
		<framework src="CoreVideo.framework" />
		<framework src="AssetsLibrary.framework" />
		<framework src="Foundation.framework" />
		<framework src="MobileCoreServices.framework" />
		<framework src="QuartzCore.framework" />
		<framework src="Security.framework" />
		<framework src="OpenGLES.framework" />
		<framework src="SystemConfiguration.framework" />
		<framework src="src/ios/frameworks/Panframe.framework" custom="true" />
	</platform>
</plugin>